* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to top right, #ffdab9, #ff7f50);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #ff6347;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

form:hover {
  transform: translateY(-10px);
}

input[type="text"] {
  width: 250px;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #ff7f50;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: #ff6347;
  box-shadow: 0 0 5px rgba(255, 99, 71, 0.7);
}

button {
  width: 250px;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #ff6347;
  background-color: #ff6347;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ff7f50;
  transform: scale(1.05);
}

.country {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ff6347;
  text-align: center;
}

.temp {
  font-size: 3rem;
  font-weight: 700;
  color: #ff6347;
  margin-top: 10px;
  text-align: center;
}
#weather-results {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-card {
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease;
}

.weather-card:hover {
  transform: scale(1.05);
}

.weather-card h2 {
  font-size: 1.5rem;
  color: #ff6347;
  margin-bottom: 10px;
}

.weather-card .country {
  font-size: 1rem;
  color: #ff7f50;
  margin-bottom: 10px;
}

.weather-card .temp {
  font-size: 2rem;
  font-weight: 700;
  color: #ff6347;
}
